body {
    background: lightgray;
}

.body-area {
    background: #3cc3b2;
    border-radius: 25px;
    padding: 25px;
}

.section {
    background-image: url("http://giphygifs.s3.amazonaws.com/media/6Npq1sfHCw6K4/giphy.gif");
    background-size: 60%;
}

.header {
    background-color: #3cc3b2;
    font-size: 18px;
    color: black;
    text-align: center;
    border-radius: 10px;
    border: 7px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    margin-bottom: -10px;
}

.footer {
    position: relative;
    bottom: 0;
    border-top: 7px solid black;
    border-bottom: 7px solid black;
    width: 100%;
    text-align: center;
    background: #6a737b;
    padding: 10px;
    margin-top: 20px;
    color: black;
}

h2 {
    text-align: center;
}

hr {
    background-color: #0a080a;
}

.cities-background {
    position: relative;
    background: #fff;
    overflow: hidden;
}
/* 
.cities-background:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url('../images/citybackdrop2.png');
    background-repeat: no-repeat;
    background-position: center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
} */

#box1 {
    height: 200px;
    margin-top: auto;
    background-position: center;
    opacity: 0.8;
    filter: alpha(opacity=80);
    margin: auto;
    border-right: 5px solid #6a737b;
    text-align: center;
    z-index: 2;
}


#box2 {
    height: 200px;
    margin-top: auto;
    margin:auto;
    background-position: center;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
    z-index: 3;
}

.wx-box1 {
    order: 1;
    border: 2px dashed lightgray;
    border-radius: 15px;
    display: none;
    height: 250px;
}

.wx-box2 {
    order: 3;
    border: 2px dashed lightgray;
    border-radius: 15px;
    display: none;
    height: 250px;
}

#container {
    height: 500px;
}

.score-container {
    order: 2;
    display: none;
    width: 600px;
    height: 500px;
    min-width: 500px;
    background-image: url("../images/citybackdrop2.png");
    background-position: center;
    /* opacity: 0.3; */
    filter: alpha(opacity=30);
}

#box1 {
    height: 200px;
    margin-top: auto;
    background-position: center;
    opacity: 0.8;
    filter: alpha(opacity=80);
    margin: auto;
}

#box2 {
    height: 200px;
    margin-top: auto;
    background-position: center;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.wx-box {
    border: 2px dashed black;
    border-radius: 15px;
    color: black;
}

.city-input-div {
    width: 425px;
    background: #6a737b;
    opacity: none;
    filter: alpha(opacity=70);
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

.city-input-div-inside {
    background: #6a737b;
    opacity: .8;
    filter: alpha(opacity=100);
}

.imagCrop {
    max-width: 450px;
    max-height: 225px;
    overflow: hidden;
    text-indent: -50%;
}

.imagCrop img {
    max-width: initial;
}

.no-pad {
    padding: 0px;
}

#leftBoxAlign {
    text-align: right;
}

#scores1 {
    font-size: 30px;
    text-decoration: underline;
}

#scores2 {
    font-size: 30px;
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .wx-box1 {
        order: 1;
    }
    .wx-box2 {
        order: 2;
    }
    .score-container {
        order: 3;
        height: 500px;
    }
}